.hud-container {
    z-index: 5;
    position: fixed;
    top: 30px;
    left: 30px;
    opacity: .6;
    color: #ffffff;
    font-size: .9rem;
}

.hud-container .username {
    padding: 0;
    margin: 0;
}

.hud-container .score {
    padding: 0;
    margin: 0;
}