.hud-container {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: .7rem;
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    width: 100%;
}

.hud-container .username {
    padding: 0;
    margin: 0;
}

.hud-container .score {
    padding: 0;
    margin: 0;
}