.update-notification {
    background-color: #ffffff;
    color: #222222;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.8em 1.2em;
    text-decoration: none;
    z-index: 100000 !important;
}