@import '../theme/default.scss';
.reaction-container {
    color: white;
    background: url('../img/bg-reactor.png');
    background-size: cover !important;
    // background-color: rgba(255, 255, 255, .1) !important;
    padding: 35px !important;
    cursor: pointer !important;
    position: relative;
    width: 250px;
    height: 100%;
    --aug-tr: 25px;
}

.reaction-graphic {
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // background-image: url('../img/lines-vertical.svg');
}

.hive {
    width: 100px;
    margin: 0 auto;
    margin-top: -30px !important;
}

.hive:active {
    opacity: .5;
    width: 105px;
}

.card-back {
    background-color: #000 !important;
    text-align: left !important;
}

.card-back .hive {
    opacity: .1 !important;
}

.energySourcesList {
    color: #fff;
}

.energySourcesList .MuiSvgIcon-root {
    color: #ffffff !important;
}

.fab-reaction {
    position: absolute !important;
    right: -10px;
    top: 25px;
}

.charged {
    height: 15vh;
    position: relative;
}

.charged .fab-reaction {
    opacity: 1;
    position: absolute;
    right: -30px;
    top: 70px;
}

.charged .hive {
    margin-top: -10px;
    width: 150px
}

.charged img.app-logo {
    display: none
}

.totalcps {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    text-align: right;
    opacity: .7;
}

.duration {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    text-align: right;
    opacity: .7;
}

.clicks {
    position: absolute;
    left: 5px;
    top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    opacity: .7;
}

.energy {
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    opacity: .7;
}

.status-text {
    text-transform: uppercase;
    font-size: .8rem;
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-shadow: 1px 1px 1px #000;
    opacity: .7;
}

.extinguished {
    cursor: not-allowed !important;
    // background: none !important;
}

.extinguished .hive {
    display: none !important;
}

.progress-bar {
    position: absolute !important;
    width: 100% !important;
    left: 0;
    bottom: 0;
    background: $primaryColor !important;
}

.reactionTip {
    min-width: 250px;
    text-align: center;
}

.skully {
    position: absolute;
    left: 37%;
    top: 20%;
    font-size: 5rem;
}

.MuiDrawer-paper {
    padding: 20px;
    background: rgba(0, 0, 0, .7) !important;
}