@import '../theme/default.scss';
.augment-container {
    --aug-tr: 15px;
    --aug-bl: 15px;
    --aug-br-width: 10px;
    --aug-br-height: 15%;
    --aug-border: 45px;
    --aug-border-bg: rgba(0, 0, 0, .2);
    --aug-border-fallback-color: #ffffff;
    padding: 20px;
    z-index: 1;
}

.reaction-container {
    color: white;
    background: #000 url('../img/bg-reactor.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 35px !important;
    cursor: pointer !important;
    position: relative;
    width: 300px;
    height: 15vh;
    z-index: 2;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, .4);
    overflow: hidden
}

@media screen and (min-width: 768px) {
    .reaction-container {
        background-position-x: -11px
    }
}

@media screen and (min-width: 1024px) {
    .reaction-container {
        background-position-x: -57px
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
    .reaction-container {
        background-position-x: 0
    }
}

@media screen and (min-width: 1025px) {
    .reaction-container {
        background-position-x: -37px
    }
}

@media screen and (min-width: 1366px) {
    .reaction-container {
        background-position-x: -15px
    }
}

.reaction-graphic {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.hive {
    width: 100px;
}

.hive:active {
    opacity: .5;
}

.energySourcesList {
    color: #fff;
}

.energySourcesList .MuiSvgIcon-root {
    color: #ffffff !important;
}

.fab-reaction {
    opacity: 1;
    position: absolute !important;
    right: 5px;
    top: 40%;
    z-index: 3
}

.charged img.app-logo {
    display: none
}

.totalcps {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    text-align: right;
    opacity: .7;
}

.duration {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    text-align: right;
    opacity: .7;
}

.clicks {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    opacity: .7;
}

.energy {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    opacity: .7;
}

.status-text {
    text-transform: uppercase;
    font-size: .8rem;
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-shadow: 1px 1px 1px #000;
    opacity: .7;
}

.extinguished {
    background: linear-gradient(rgb(212, 21, 21), rgb(49, 2, 2));
}

.extinguished .hive {
    display: none !important;
}

.progress-bar {
    position: absolute !important;
    width: 100% !important;
    left: 0;
    bottom: 0;
    background: $primaryColor !important;
}

.reactionTip {
    min-width: 250px;
    text-align: center;
}

.skully {
    position: absolute;
    left: 37%;
    top: 20%;
    font-size: 5rem;
}

.MuiDrawer-paper {
    padding: 20px;
    background: rgba(0, 0, 0, .7) !important;
}

.game-over {
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.reaction-store {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100px;
}

.reaction-store h4 {
    margin: 10px 0 0 10px;
    padding: 0;
    font-size: 1.4rem;
}

.reaction-store p {
    margin: 0 0 0 10px;
    padding: 0;
    opacity: .6;
    font-size: .9rem;
}

.store-icon {
    fill: rgba(255, 255, 255, .3) !important;
    position: absolute;
    right: 10px;
    top: -5px;
}