@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Codystar&display=swap');
@import '../theme/default.scss';
body {
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1.title {
    text-align: center;
    margin: 25px 0 0 0 !important;
    font-size: 20px !important;
    opacity: .2 !important;
    font-family: 'Lexend Deca', sans-serif;
}

.hidden {
    display: none !important;
}


/* CSS Hack to hide selection side effects in browser */

// https://stackoverflow.com/questions/16432909/remove-blue-highlight-over-html-image-when-clicked

/*IE9*/

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"],
textarea,
[contenteditable] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


/* CSS Hack to show outlines for DOM elements on page. Remove for PROD */


/* https://medium.com/@gajus/my-favorite-css-hack-a7f447026cf2 */

// * {
//     background-color: rgba(255, 0, 0, .2);
// }
// * * {
//     background-color: rgba(0, 255, 0, .2);
// }
// * * * {
//     background-color: rgba(0, 0, 255, .2);
// }
// * * * * {
//     background-color: rgba(255, 0, 255, .2);
// }
// * * * * * {
//     background-color: rgba(0, 255, 255, .2);
// }
// * * * * * * {
//     background-color: rgba(255, 255, 0, .2);
// }
// * * * * * * * {
//     background-color: rgba(255, 0, 0, .2);
// }
// * * * * * * * * {
//     background-color: rgba(0, 255, 0, .2);
// }
// * * * * * * * * * {
//     background-color: rgba(0, 0, 255, .2);
// }