@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Codystar&display=swap');
@import '../theme/default.scss';
body {
    background: #ad5389;
    background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
    background: linear-gradient(to bottom, #3c1053, #ad5389);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 30px 0;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1.title {
    text-align: center;
    margin: 25px 0 0 0 !important;
    font-size: 20px !important;
    opacity: .2 !important;
    font-family: 'Lexend Deca', sans-serif;
}

.hidden {
    display: none !important;
}

.sidebar {
    background: #000 url('../img/bg-mountains.jpg') no-repeat;
    width: 240px;
}


/* CSS Hack to hide selection side effects in browser */

// https://stackoverflow.com/questions/16432909/remove-blue-highlight-over-html-image-when-clicked

/*IE9*/

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background-color: transparent;
}

* {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"],
textarea,
[contenteditable] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.reactors-bg-container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    top: 70px;
    z-index: -2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bg-reaction-item {
    margin: 5px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, .1);
    font-size: 10px;
    color: rgba(255, 255, 255, .2);
    display: flex;
    justify-content: center;
}


/* CSS Hack to show outlines for DOM elements on page. Remove for PROD */


/* https://medium.com/@gajus/my-favorite-css-hack-a7f447026cf2 */

// * {
//     background-color: rgba(255, 0, 0, .2);
// }
// * * {
//     background-color: rgba(0, 255, 0, .2);
// }
// * * * {
//     background-color: rgba(0, 0, 255, .2);
// }
// * * * * {
//     background-color: rgba(255, 0, 255, .2);
// }
// * * * * * {
//     background-color: rgba(0, 255, 255, .2);
// }
// * * * * * * {
//     background-color: rgba(255, 255, 0, .2);
// }
// * * * * * * * {
//     background-color: rgba(255, 0, 0, .2);
// }
// * * * * * * * * {
//     background-color: rgba(0, 255, 0, .2);
// }
// * * * * * * * * * {
//     background-color: rgba(0, 0, 255, .2);
// }