@import url('https://fonts.googleapis.com/css?family=Questrial|Russo+One&display=swap');
body {
    background: url('../img/bg-reactor2.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #282C34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Questrial', sans-serif;
}

.fab-add-reaction {
    position: absolute !important;
    bottom: 20px !important;
    right: 20px !important;
}


/* disable browser image select stuff */

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    left: 20px;
    top: -10px;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000000 !important;
}

.game-session-list-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row
}

.game-session-list-item {
    margin: 10px;
    color: white;
    background: rgba(0, 0, 0, .5) !important;
    border-radius: 10px;
    width: 250px;
    padding: 20px !important;
    cursor: pointer !important;
    position: relative;
    text-align: center
}

.complete-game-session-item {
    float: right;
    right: 20px;
}

.reactor-down {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

#game-session-add-form {
    padding: 10px;
    background: rgba(0, 0, 0, .5)
}

.hive {
    width: 150px;
    margin: 30px auto;
}

.fab-reaction {
    opacity: 0;
    position: absolute !important;
}

.charged {
    /* background: url('../img/reaction2.svg') no-repeat center center !important; */
    background-color: #000000 !important;
    /* background-size: cover !important; */
    height: 15vh;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.charged .fab-reaction {
    opacity: 1;
    position: absolute;
    right: -25px;
    top: 70px;
}

.charged .hive {
    margin-top: 0px;
    width: 150px
}

.charged img.app-logo {
    display: none
}

.clicks {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000
}

.energy {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000
}

.status-text {
    text-transform: uppercase;
    font-size: .8rem;
    position: absolute;
    left: 10px;
    bottom: 20px;
    text-shadow: 1px 1px 1px #000
}

.progress-bar {
    position: absolute !important;
    width: 125px !important;
    left: 10px;
    bottom: 10px;
}

.fadeOut {
    animation: 1s;
    animation-name: fadeout;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        margin-left: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}